<?xml version='1.0' encoding='utf-8'?>
  <widget id="com.phonegap.helloworld" version="1.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>WaveWare</name>
    <description>
        The Best Software, Delivered.
    </description>
    <author email="xjcoan@gmail.com" href="http://xjcoan.com">
        X Coan
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="www/img/waveware.png" />
</widget>
